
<div class='modal' id='resetPasswordDiv' style='display: none;'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='staticBackdropLabel'>Reset Password</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
          onclick='closeResetPassword()'
        ></button>
      </div>
      <div class='modal-body'>
        <form id='resetPasswordForm'>
          <div class='mb-3'>
            <label for='newPassword' class='form-label'>New Password</label>
            <input
              required
              type='password'
              class='form-control'
              placeholder='new password'
              name='password'
              id="newPassword"
            />
          </div>
          <button type='submit' class='btn btn-primary' onclick="javascript:resetPassword()">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    function closeResetPassword(){
        document.getElementById('resetPasswordDiv').setAttribute('style','display: none;');
    }
    function resetPassword(){
        var headers = new Headers;
        headers.append('Authorization',`Bearer ${sessionStorage.getItem('auth_token')}`);
        headers.append( "Content-Type", "application/json");
        var requestOptions ={
            method:'POST',
            headers: headers,
            body: JSON.stringify({'password': document.getElementById('newPassword').value}),
            redirect: 'follow',
        };
        fetch('user/reset-password',requestOptions)
        .then(response => response.text())
        .catch(err => console.log(err));
    }
</script>