<div class="row" id="posterDashboardDiv" style="margin: 0 -5px;">
    {{#each posts}}
    <div class="column" style="float: left;  width: 25%;  padding: 0 10px;">
        {{> post}}
    </div>
    {{/each}}
</div>